@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

.content {
  padding: 1rem;
}

ol.pokemon-list { 
  display: grid;
  grid-template-columns: 1fr 1fr;
}

ol.pokemon-list li {
  margin: .5rem;
  padding: 2rem 1rem;
  background-color: #14A06F;
  color: #FFF;
  border-radius: 1rem;
  height: 120px;
}