.modal-container.show-modal {
  display: block;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: #77c850;
}

.modal-pokemon .topo {
  height: 350px;
}

.modal-pokemon .bottom {
  height: 900px;
  background-color: #FFF;
  border-radius: 3rem 3rem 0 0;
}

.modal-header {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: auto;
}

.modal-header button {
  background-color: transparent;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  margin: 2rem 0 1rem 0;
  color: #FFF;
}

.modal-header h2 {
  color: #FFF;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 2rem;
}

.modal-header span {
  align-self: flex-end;
  color: #FFF;
}

.modal-header ol {
  margin-top: -1rem;
}

.modal-header ol li {
  width: 70px;
  display: inline-block;
}

.modal-header img {
  margin-top: 2rem;
  max-width: 250px;
  align-self: center;
}

/* Style da aba (tab) */
.tab {
  overflow: hidden;
  padding-top: 3rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  width: 90vw;
  margin: 1rem auto;
}

/* Style dos botões dentro da aba */
.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
  font-weight: 500;
  color: #CCC;
  background-color: #FFF;
  padding-bottom: 1rem;
  margin: 0 1rem;
}

/* Muda a cor do fundo do botão on hover */
.tab button:hover {
  color: #000;
}

/* Cria estilo da aba ativa/atual - tabalinks class */
.tab button.active {
  color: #000;
  border-bottom: 2px solid #6f38f6;
}

/* Estilo do conteúdo de cada aba */
.tabcontent {
  display: none;
  width: 90vw;
  margin: auto;
  padding: 2rem 0;
  font-weight: 300;
}

.tabcontent .data-container {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.left-data span, .right-data p {
  margin: 1rem 0;
}

.right-data p {
  font-weight: 500;
}

.tabcontent span {
  display: block;
}